/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para o contêiner */
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estilo para o título */
h1 {
    color: #2c3e50;
}

/* Estilo para o campo de input */
input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão */
button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mudança de cor do botão ao passar o mouse */
button:hover {
    background-color: #2980b9;
}

/* Estilo para a mensagem */
#mensagem {
    margin-top: 20px;
    font-size: 18px;
    color: #2c3e50;
    font-weight: bold;
}
